.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
}

.button {
    font-size: 13px;
    margin-left: 3%;
    border: 1px solid white;
    padding: 1px 10px;
    background-color: white;
    box-shadow: 2px 2px 4px rgb(8, 8, 58);
}

.button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(8, 8, 58); ;
}

.search {
    max-width: 150px;
}

.helpArea {
    box-sizing: border-box;

    max-width: 146px;
    background-color: #fff;
    max-height: 120px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.helpers {
    box-sizing: border-box;
    max-width: 100%;
    font-size: 14px;
    padding: 1px 2px;
    max-height: 40px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
}